In [ ]:
score = input("apa: " )
mystery = 0

for chara in score:
    
    if int(chara) == 9:
        break
    if int(chara) %2 > 0:
        continue
    else:
        mystery += int(chara)
        
print(mystery)

In [ ]:
score = input("apa: " )
mystery = 0

for chara in score:
    
    if int(chara) == 9: #9 lgsng keluar
        break
    if int(chara) %2 > 0: #ganjil lewat
        continue
    else:
        mystery += int(chara) # cm nambahin gnap
        
print(mystery)

In [ ]:
n = 5
output = ""

for i in range(0, n):
    
    output += str(n)
    n += 1

print(output)

In [ ]:
i = 0
result = 1

lst = [1,3,5,7]

while (i < len(lst)):
    result = result * lst[element];
    i += 1;
    print(result)
    
print(result)

In [ ]:
result = 1
lst = [1,3,5,7]
for element in lst:
    result *= element

In [ ]:
re

In [ ]:
result = 1
lst = [1,3,5,7]
while i< len(lst):
    result += lst[i]
    i += 1

In [ ]:
result = 1
i = 0
def ngitung(lst):
    while i < len(lst):
        result *= lst[i]
        i += 1
    
    return result

In [1]:
def count_positive_even(list):
    result = []
    
    for i in list:
        count = 0
        for j in range(len(i)):
            if i[j] > 0 and i[j] % 2 == 0:
                count += 1
        result.append(count)
        
    return result

In [3]:
count_positive_even([[2,-1,0], [4,3,4]])

[1, 2]

In [4]:
i = [5,3,9]

for j in i:
    print(j)

5
3
9

In [6]:
i = [5,3,9]

for j in len(i):
    print(i)

TypeError: 'int' object is not iterable