In [1]:
nums = (3,2,1)

In [2]:
type(nums)

tuple

In [4]:
nums2 = 3,2,1

In [5]:
type(nums2)

tuple

for one size tuple, give commas to tell python it is tuple

In [7]:
tup1 = ("borobudur")

In [8]:
type(tup1)

str

In [10]:
tup2 = ("borobudur",)

In [11]:
type(tup2)

tuple

In [13]:
mytup = tuple(5,)

TypeError: 'int' object is not iterable

In [14]:
mytup = tuple(5,1)

TypeError: tuple expected at most 1 argument, got 2

In [15]:
mytup = tuple([5,1])

In [16]:
mytup = tuple([30,5,2005])

In [17]:
mytup2 = sorted(mytup)

In [18]:
mytup2

[5, 30, 2005]

In [19]:
mytup3 = mytup.sort() # sort in list modified the og list

AttributeError: 'tuple' object has no attribute 'sort'

In [20]:
str_a = "rock pop rock jazz rock rock dangdut"
set_a = set(str_a)

In [21]:
set_a

{' ', 'a', 'c', 'd', 'g', 'j', 'k', 'n', 'o', 'p', 'r', 't', 'u', 'z'}

In [24]:
name = ["daffa", "nadira"]

In [25]:
unique_name = ""
for words in name:
    for char in words:
        unique_name += char
print(set(unique_name))

{'i', 'n', 'a', 'r', 'f', 'd'}

In [33]:
def common_name(str_a, str_b):
    set_a, set_b = set(str_a), set(str_b)
    
    common_name = []
    
    for char in set_a:
        if char in set_b:
            common_name.append(char)
            
    return common_name

In [34]:
str_a = "daffa"
str_b = "nadira"

In [35]:
result = common_name(str_a, str_b)

In [36]:
result

['d', 'a']

In [37]:
def common_name(str_a, str_b):
    set_a, set_b = set(str_a), set(str_b)
    
    common_name = [char for char in set_a if char in set_b] 
    # one line, shorter daripada pake empty list
            
    return common_name

In [40]:
daffa = set("daffa")
nadira = set("nadira")

res = common_name(daffa, nadira)
print(res)

['d', 'a']

In [42]:
daffa = set("daffa")
nadira = set("nadira")

In [45]:
daffa & nadira

{'a', 'd'}

In [46]:
nums = {30,30,30,5,5,5,2005}

In [47]:
nums

{5, 30, 2005}

curly brackets without ; ain't dictionary but set (himpunan)

In [48]:
nums = {} # perhatikan kalau empty, itu masih dict

In [49]:
type(nums)

dict

In [54]:
text = "a car a man"