## 1

In [1]:
myDict = {1:'a',2:'b',3:'c',4:'d'}
search = '1'
if search in myDict:
    myDict[search] = 'satu'
print(myDict)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

search is a string one, not int 1!

In [4]:
1 in myDict

True

In [5]:
'a' in myDict

False

ok so 'in' method only works for key

In [6]:
'a' in myDict.values()

True

In [7]:
'a' in myDict.items() # oh it only works for key, value pair

False

In [8]:
1 in myDict.items()

False

In [9]:
myDict.items()

dict_items([(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')])

## 2

In [10]:
new_set = {[x, x+1] for x in range(10)}

TypeError: unhashable type: 'list'

set gabisa punya list sebagai elemen

In [15]:
new_set = set([("a", "b"), (1, 2), None])

liat elemennya: tuple sama none. both hashable

In [12]:
new_set = {["a", "b", 1, 2, None]}

TypeError: unhashable type: 'list'

kalo ada list dia marah

In [13]:
new_set = {1, {2, 3, {4}}}

TypeError: unhashable type: 'set'

In [14]:
new_set = set(["a", "b", "c", {"Usep": 1, "Huki": 3}])

TypeError: unhashable type: 'dict'

hashable: bisa diconvert misalnya kaya string dari huruf kan bisa ditemuin nilai asci (bilbul) nya semacam itu

hashable bisa kalo konsisten, karena kalo diconvert berkalikali, hasilnya harus konsisten dan unik untuk tiap object yang dihash

mutable kaya list, dictionary, set gbs di hash simply karena mereka bisa berubah ubah bisa diupdate--note set mutable! jd nested set, set nya sendiri malah marah

set cm accept hashable immutable datatype tp dia sendiri ga hashable!

string sama tuple aman untuk hashable

#### ternyata ada perbedaan bikin set dengan set() sama {} right away!

In [17]:
mylist=[("a", "b"), (1, 2), None]

In [18]:
new_hair = {mylist}

TypeError: unhashable type: 'list'

In [19]:
new_tee = set(mylist)

{} create set but only accept immutable hashable datatype


set() itu CONSTRUCTOR set. can be used to create an empty set or convert an iterable (e.g., list, tuple) into a set. It provides a clear way to create sets, especially when dealing with iterable data

jadi set itu, meskipun dikasie list, dia bakal iterate tiap elemen di iterable datatype itulah, kira kira aman gsie kalo dibikin set

In [21]:
new_jeans = ['make', 'you', ['feel', 'like']]

In [22]:
set(new_jeans)

TypeError: unhashable type: 'list'

nie, meskipun set() bisa convert iterable, tp iterable ini malah tetep punya nested list (nested iterable lg) jadi dia gamau

## 4

In [24]:
print({((x ** 2) % 10): x for x in range(21)})

{0: 20, 1: 19, 4: 18, 9: 17, 6: 16, 5: 15}

In [ ]:
{((x ** 2) % 10): x for x in range(21)}

In [31]:
mydict = {}
for x in range(21):
    print((x ** 2) % 10, f'supposed to be the', x, 'key')
    mydict[(x ** 2) % 10] = x
    print(x, 'supposed to be the', x, 'value', '\n')
print(mydict)

0 supposed to be the 0 key
0 supposed to be the 0 value

1 supposed to be the 1 key
1 supposed to be the 1 value

4 supposed to be the 2 key
2 supposed to be the 2 value

9 supposed to be the 3 key
3 supposed to be the 3 value

6 supposed to be the 4 key
4 supposed to be the 4 value

5 supposed to be the 5 key
5 supposed to be the 5 value

6 supposed to be the 6 key
6 supposed to be the 6 value

9 supposed to be the 7 key
7 supposed to be the 7 value

4 supposed to be the 8 key
8 supposed to be the 8 value

1 supposed to be the 9 key
9 supposed to be the 9 value

0 supposed to be the 10 key
10 supposed to be the 10 value

1 supposed to be the 11 key
11 supposed to be the 11 value

4 supposed to be the 12 key
12 supposed to be the 12 value

9 supposed to be the 13 key
13 supposed to be the 13 value

6 supposed to be the 14 key
14 supposed to be the 14 value

5 supposed to be the 15 key
15 supposed to be the 15 value

6 supposed to be the 16 key
16 supposed to be the 16 value

9 supposed to be the 17 key
17 supposed to be the 17 value

4 supposed to be the 18 key
18 supposed to be the 18 value

1 supposed to be the 19 key
19 supposed to be the 19 value

0 supposed to be the 20 key
20 supposed to be the 20 value

{0: 20, 1: 19, 4: 18, 9: 17, 6: 16, 5: 15}

pay attention kalo dia bakal ada reassign key yg sama tp dengan value yg berbeda! 

nilai key nya bakal berulag terus karena remainder pembagian sepuluh dari bilangan kuadrat ya kalo ga 0,1,4,6,5,9

jadi, kalo ada potential reassignment kaya gini, coba pake x index loop nya dari terakhir!

pertama: gue list dlu mod 10 nya. ini kan x in range 21, simply bakal 0,1....20

nanti keliatan kalo pola hasilnya itu bakal berulang karena dia remainder!

kalo ternyata gue dh ngeh berulang, skrg gue masukin key value pairnya pake index pengulangan terakhir! jd mundur aja!

kebetulan ini x-index di key nya gaberpengaruh sm apa yg diproses di loop nya karena cm range 21 aja. hasil process loopnya gaberpengaruh ke loop selanjutnya

## 5

In [42]:
def issublist(lst, other_lst):
    if len(lst) == 0: 
        return True
    if len(other_lst) == 0:
        return False
    if lst[0] == other_lst[0]: # kalo gue ngasie bneran simple, right what u search
        return [issublist(lst[1:], other_lst[1:])] #':' anticipate bcs obc this is recursive and you might need to go to the rest of the code length
    else:
        return [issublist(lst, other_lst[1:])] # 'sublist' yg dicari kan mw urut, dia harus tetep stay sebagai patokan

In [43]:
#testcase
issublist([1,3], [3,6,2,1])

[[[[False]]]]

how to think recursively

1. base case where yeah i give nothing
2. base case where i give you exactly what you search
3. recursive case: just go check the next

## 6

In [45]:
def mystic(x):
    print(f"mystic {x}")
    if x <= 4:
        return x
    return mystic(x-2) + mystic(x-4)

In [46]:
mystic(7)

mystic 7
mystic 5
mystic 3
mystic 1
mystic 3

7

bntar mncoba seakan gue piton

1. mystic 7
print mystic 7
return mystic(5) + mystic (3)

    mystic(5)-- print mystic 5 -- return mystic(3) + mystic(1)
    
        mystic(3) -- print mystic 3 --return 3
        
        mystic(1) -- print mystic 1 -- return 1
        
    mystic(3)-- print mystic 3 return 3
    
ini yg direturn 3+1+3 = 7

## 7

In [47]:
class A:
    def __strs__(self):
        return 'Hello World!'
    def __lt__(self, x):
        return x
    def f(self, x):
        return x

class B(A):
    def f(self,x, y):
        return x+y

first thing first, magic operator sudah pasti overloading

overloading operator di class:
jdie, kita bakal ngasi tau gimana cara method di kelas kita behave
kalo ternyata parameter yg di pass beda

In [ ]:
misal,