## 1

In [1]:
myDict = {1:'a',2:'b',3:'c',4:'d'}
search = '1'
if search in myDict:
    myDict[search] = 'satu'
print(myDict)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

search is a string one, not int 1!

In [4]:
1 in myDict

True

In [5]:
'a' in myDict

False

ok so 'in' method only works for key

In [6]:
'a' in myDict.values()

True

In [7]:
'a' in myDict.items() # oh it only works for key, value pair

False

In [8]:
1 in myDict.items()

False

In [9]:
myDict.items()

dict_items([(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')])

## 2

In [10]:
new_set = {[x, x+1] for x in range(10)}

TypeError: unhashable type: 'list'

set gabisa punya list sebagai elemen

In [15]:
new_set = set([("a", "b"), (1, 2), None])

liat elemennya: tuple sama none. both hashable

In [12]:
new_set = {["a", "b", 1, 2, None]}

TypeError: unhashable type: 'list'

kalo ada list dia marah

In [13]:
new_set = {1, {2, 3, {4}}}

TypeError: unhashable type: 'set'

In [14]:
new_set = set(["a", "b", "c", {"Usep": 1, "Huki": 3}])

TypeError: unhashable type: 'dict'

hashable: bisa diconvert misalnya kaya string dari huruf kan bisa ditemuin nilai asci (bilbul) nya semacam itu

hashable bisa kalo konsisten, karena kalo diconvert berkalikali, hasilnya harus konsisten dan unik untuk tiap object yang dihash

mutable kaya list, dictionary, set gbs di hash simply karena mereka bisa berubah ubah bisa diupdate--note set mutable! jd nested set, set nya sendiri malah marah

set cm accept hashable immutable datatype tp dia sendiri ga hashable!

string sama tuple aman untuk hashable

#### ternyata ada perbedaan bikin set dengan set() sama {} right away!

In [17]:
mylist=[("a", "b"), (1, 2), None]

In [18]:
new_hair = {mylist}

TypeError: unhashable type: 'list'

In [19]:
new_tee = set(mylist)

{} create set but only accept immutable hashable datatype


set() itu CONSTRUCTOR set. can be used to create an empty set or convert an iterable (e.g., list, tuple) into a set. It provides a clear way to create sets, especially when dealing with iterable data

jadi set itu, meskipun dikasie list, dia bakal iterate tiap elemen di iterable datatype itulah, kira kira aman gsie kalo dibikin set

In [21]:
new_jeans = ['make', 'you', ['feel', 'like']]

In [22]:
set(new_jeans)

TypeError: unhashable type: 'list'

nie, meskipun set() bisa convert iterable, tp iterable ini malah tetep punya nested list (nested iterable lg) jadi dia gamau

## 4

In [24]:
print({((x ** 2) % 10): x for x in range(21)})

{0: 20, 1: 19, 4: 18, 9: 17, 6: 16, 5: 15}

In [ ]:
{((x ** 2) % 10): x for x in range(21)}

In [31]:
mydict = {}
for x in range(21):
    print((x ** 2) % 10, f'supposed to be the', x, 'key')
    mydict[(x ** 2) % 10] = x
    print(x, 'supposed to be the', x, 'value', '\n')
print(mydict)

0 supposed to be the 0 key
0 supposed to be the 0 value

1 supposed to be the 1 key
1 supposed to be the 1 value

4 supposed to be the 2 key
2 supposed to be the 2 value

9 supposed to be the 3 key
3 supposed to be the 3 value

6 supposed to be the 4 key
4 supposed to be the 4 value

5 supposed to be the 5 key
5 supposed to be the 5 value

6 supposed to be the 6 key
6 supposed to be the 6 value

9 supposed to be the 7 key
7 supposed to be the 7 value

4 supposed to be the 8 key
8 supposed to be the 8 value

1 supposed to be the 9 key
9 supposed to be the 9 value

0 supposed to be the 10 key
10 supposed to be the 10 value

1 supposed to be the 11 key
11 supposed to be the 11 value

4 supposed to be the 12 key
12 supposed to be the 12 value

9 supposed to be the 13 key
13 supposed to be the 13 value

6 supposed to be the 14 key
14 supposed to be the 14 value

5 supposed to be the 15 key
15 supposed to be the 15 value

6 supposed to be the 16 key
16 supposed to be the 16 value

9 supposed to be the 17 key
17 supposed to be the 17 value

4 supposed to be the 18 key
18 supposed to be the 18 value

1 supposed to be the 19 key
19 supposed to be the 19 value

0 supposed to be the 20 key
20 supposed to be the 20 value

{0: 20, 1: 19, 4: 18, 9: 17, 6: 16, 5: 15}

pay attention kalo dia bakal ada reassign key yg sama tp dengan value yg berbeda! 

nilai key nya bakal berulag terus karena remainder pembagian sepuluh dari bilangan kuadrat ya kalo ga 0,1,4,6,5,9

jadi, kalo ada potential reassignment kaya gini, coba pake x index loop nya dari terakhir!

pertama: gue list dlu mod 10 nya. ini kan x in range 21, simply bakal 0,1....20

nanti keliatan kalo pola hasilnya itu bakal berulang karena dia remainder!

kalo ternyata gue dh ngeh berulang, skrg gue masukin key value pairnya pake index pengulangan terakhir! jd mundur aja!

kebetulan ini x-index di key nya gaberpengaruh sm apa yg diproses di loop nya karena cm range 21 aja. hasil process loopnya gaberpengaruh ke loop selanjutnya

## 5

In [42]:
def issublist(lst, other_lst):
    if len(lst) == 0: 
        return True
    if len(other_lst) == 0:
        return False
    if lst[0] == other_lst[0]: # kalo gue ngasie bneran simple, right what u search
        return [issublist(lst[1:], other_lst[1:])] #':' anticipate bcs obc this is recursive and you might need to go to the rest of the code length
    else:
        return [issublist(lst, other_lst[1:])] # 'sublist' yg dicari kan mw urut, dia harus tetep stay sebagai patokan

In [43]:
#testcase
issublist([1,3], [3,6,2,1])

[[[[False]]]]

how to think recursively

1. base case where yeah i give nothing
2. base case where i give you exactly what you search
3. recursive case: just go check the next

## 6

In [45]:
def mystic(x):
    print(f"mystic {x}")
    if x <= 4:
        return x
    return mystic(x-2) + mystic(x-4)

In [46]:
mystic(7)

mystic 7
mystic 5
mystic 3
mystic 1
mystic 3

7

bntar mncoba seakan gue piton

1. mystic 7
print mystic 7
return mystic(5) + mystic (3)

    mystic(5)-- print mystic 5 -- return mystic(3) + mystic(1)
    
        mystic(3) -- print mystic 3 --return 3
        
        mystic(1) -- print mystic 1 -- return 1
        
    mystic(3)-- print mystic 3 return 3
    
ini yg direturn 3+1+3 = 7

## 7

In [47]:
class A:
    def __strs__(self):
        return 'Hello World!'
    def __lt__(self, x): # si lt ini adalah magic operator
        return x
    def f(self, x):
        return x

class B(A):
    def f(self,x, y):
        return x+y

first thing first, magic operator sudah pasti overloading

overloading operator di class:
jdie, kita bakal ngasi tau gimana cara method di kelas kita behave
kalo ternyata parameter yg di pass beda

In [57]:
# misal, gweh punya
class Angka:
    def __init__(self, angka):
        self.angka = angka

In [58]:
# trs gweh ngide mw nambah 10 + 20  pake class yg sama

In [59]:
x1 = Angka(10)
x2 = Angka(20)

x1+x2

TypeError: unsupported operand type(s) for +: 'Angka' and 'Angka'

kan gweh cm nerima 1 angka bjir dalam 1 instance??? katanya bgitu

In [60]:
# di saat inielah magic method berguna
class Angka:
    def __init__(self, angka):
        self.angka = angka

    def __add__(self, objek): # param: objek. beda dgn construct angka
        return self.angka + objek.angka

In [61]:
x1 = Angka(10)
x2 = Angka(20)

x1+x2

30

jd, magic operator bakal curiga kalo instance inie, pas dipanggil, ada operator. si magic method kaya __add__ atau __lt__ ini telah diassociate dgn operator

In [66]:
# di saat inielah magic method berguna
class Angka:
    def __init__(self, angka):
        self.angka = angka

    def nambah(self, objek): # param: objek. beda dgn construct angka
        return self.angka * objek.angka

In [67]:
x1 = Angka(10)
x2 = Angka(20)

x1+x2

TypeError: unsupported operand type(s) for +: 'Angka' and 'Angka'

akowkowdowoew ttep methodnya harus nama magic method bru bisa diassociate dgn operator

## 8

got an insight about polymorphysm!

polymorphysm it's simply method with the same name, uniform name, make it easy to call repeated times. like len() method would always return the same operation meskipun gue panggil di mana mana

kalo di class, ini refer kaya method di child yg sama kaya method di parent simply biar manggilnya sama gitu, seragam

jadi, identify ada polymorpysm atau ga: liat, ada yg sama ga nama methodnya kaya yang di parent?

a.
instance
dari class B ketika menjalankan method
get_value
maka yang dijalankan adalah method
get_value
di dalam class A

gadong, kan udh di super init trs sm dia dirombak di value +5

b.
class
A, B dan C mempunyai nama
instance attribute
yang sama

betul, sama sama value. dari parent dikasie nama value, anak anaknya jg make vlue

c.
instance
dari class C ketika menjalankan method
get_value
maka yang dijalankan adalah method
cek_value
di dalam class C

ga, org di ga define getter. yg di inherit cm object 'value'

In [70]:
class MyClass:
    a = "hi"
    pass

a1 = MyClass()
a2 = MyClass()
a3 = MyClass()

a1.a = "there"
MyClass.a = "fore"
print(a1.a)
print(a2.a)

MyClass.a = a1.a + a2.a
print(a3.a)

there
fore
therefore

anggep gue berpikir seperti piton

awal: hi
    
buat 3 instance yg refer ke hi

a1.a gue assign ke there. buat a1 ajh

myClass.a, gue ganti keseluruhan di memorinya jadi fore

print a1.a, td udh gue assign dia jadi there
print a2.a, blm gue apa apain daritadi, ywdh dia ngikutin refer di memori aj yg udah berubah jadi fore

memori gue ganti semua jadi there+fore (therefore)
a3.a daritadi blm gue otak atik jadinya dia ngikutin sesuai memori

## 10

In [73]:
class Rumah:
    asal = None
    
    def __init__(self, kt, km):
        self.kt = kt
        self.km = km
        
class Gadang(Rumah):
    asal = 'Sumbar'

class Honai(Rumah):
    asal = 'Papua'

perhatikan ini inheritance. tiap manggil anak/parent WAJIB PASS 2 PARAM!

In [75]:
x = Gadang(1000, 100) # BOWLE
x = Honai("Papua")
x = Honai() 
x = Gadang(5, 3, 1)

TypeError: Rumah.__init__() missing 1 required positional argument: 'km'

## 12

note:
misal, parent punya class attr sendiri
trs anaknya inherit class parent, punya attr dgn nama variable sama, tap value berbeda

yang di parent remain unchanged

makanya di sini valuenya jadi 10

## 13

In [76]:
class A:
    def f(self):
        return 5

class B(A):
    def f(self):
        return 3

In [77]:
b = B()
print(b.f())

3

In [79]:
class A:
    def f(self):
        return 5

class B(A):
    def f(self):
        pass

In [80]:
b = B()
print(b.f()) # gue penasaran knp soal inherit nilai method jg tanpa

None

loh loh loh coba kerjain soal

In [81]:
class A:
    def f(self):
        return 5

class B(A):
    def f(self):
        return 3
    
class C(B):
    pass

class D(C):
    def g(self):
        return 1

class E(C):
    def f(self):
        return 20

c=C()
d=D()
e=E()

In [83]:
print(c.f() + d.f() + e.f())
print(c.f())
print(d.f())
print(e.f())

# jadi, karena udh inherit, meskipun method nya tida di define di anaknya,
# tetep bisa dipanggil karena dh didefine di parentnya

26
3
3
20

In [85]:
# bjir ini cara gampang paham inheritance, 
# ap aj yg diturunin at the very basic

class Orang:

    def __init__ (self, nama, asal):
        self.nama = nama
        self.asal = asal

    def perkenalan (self):
        print(f'Perkenalkan nama saya {self.nama} dari {self.asal}')

class Pelajar (Orang):
    pass

class Pekerja (Orang):
    pass

In [86]:
andi = Orang('Andi', 'Surabaya')
andi.perkenalan()

deni = Pelajar('Deni', 'Makassar')
deni.perkenalan()

budi = Pekerja('Budi', 'Pontianak')
budi.perkenalan()

# it's like python buildin method

Perkenalkan nama saya Andi dari Surabaya
Perkenalkan nama saya Deni dari Makassar
Perkenalkan nama saya Budi dari Pontianak

## 16

ini masih questionable di the way nama negara inherit dari class keju

In [88]:
class Keju:
    def __init__(self, nama_keju, asal_negara, komposisi):
        self.nama_keju = nama_keju
        self.asal_negara = asal_negara
        self.komposisi = set(komposisi)
        
class Negara(Keju):
    def __init__(self, nama, tahun_merdeka=None):
        super().__init__(asal_negara = nama)
        self.tahun_merdeka = tahun_merdeka

## 17

In [89]:
import tkinter as tk

class MainApp(tk.Tk):
    def __init__(self, master=None):
        super().__init__(master)
        self.sistolik = tk.StringVar()
        self.diastolik = tk.StringVar()
        self.klasifikasi = tk.StringVar()
        self.create_widgets()

    def create_widgets(self):
        self.ent_sistolik = tk.Entry(self, textvariable=self.sistolik)
        self.ent_diastolik = tk.Entry(self, textvariable=self.diastolik)
        self.ent_klasifikasi = tk.Entry(self, textvariable=self.klasifikasi, state=tk.DISABLED)
        self.lbl_sistolik = tk.Label(self, text="Sistolik (mmHG)")
        self.lbl_diastolik = tk.Label(self, text="Diastolik (mmHG)")
        self.lbl_klasifikasi = tk.Label(self, text="Klasifikasi")
        self.btn_check = tk.Button(self, text="check")
        
        self.lbl_sistolik.pack()
        self.ent_sistolik.pack()
        self.lbl_diastolik.pack()
        self.ent_diastolik.pack()
        self.lbl_klasifikasi.pack()
        self.ent_klasifikasi.pack()
        self.btn_check.pack()
        self.btn_check.bind("<Button-1>", self.btn_check_clicked)

    def btn_check_clicked(self, event):
        sistolik = int(self.ent_sistolik.get())
        diastolik = int(self.ent_diastolik.get())
        
        if sistolik <80 or diastolik <60:
            # liat kalo entry klasifikasi diambil dari object self klasifikasi
            # berarti updatenya langsung objectnya
            self.klasifikasi.set('Hipotensi')
        elif (80 <= sistolik <= 120) and (60 <= diastolik <= 80): 
            self.klasifikasi.set('Normal')
        else:
            self.klasifikasi.set('Hipertensi')

app = MainApp()
app.geometry("300x200")
app.title("Tekanan Darah")
app.mainloop()

## 18

In [105]:
daftar_nilai = {
    "Matematika": {
        "Ani": 74, "Anto": 77, "Budi": 98, "Bunga": 90, "Chandra": 40,
        "Cinta": 54, "Danang": 86, "Donita": 98, "Einstein": 99, "Elisa": 0
    },
    "Fisika": {
        "Ani": 10, "Anto": 20, "Budi": 30, "Bunga": 40, "Chandra": 50,
        "Cinta": 60, "Danang": 70, "Donita": 80, "Einstein": 100, "Elisa": 0
    },
    "Bahasa Indonesia": {
        "Ani": 89, "Anto": 90, "Budi": 95, "Bunga": 97, "Chandra": 87,
        "Cinta": 99, "Danang": 89, "Donita": 90, "Einstein": 60, "Elisa": 0
    },
    "Geografi": {
        "Ani": 70, "Anto": 70, "Budi": 70, "Bunga": 70, "Chandra": 70,
        "Cinta": 70, "Danang": 70, "Donita": 70, "Einstein": 75, "Elisa": 100
    },
    "Sejarah": {
        "Ani": 40, "Anto": 50, "Budi": 90, "Bunga": 20, "Chandra": 40,
        "Cinta": 80, "Danang": 40, "Donita": 95, "Einstein": 85, "Elisa": 100
    }
}

In [107]:
daftar_nilai['Matematika']['Ani']

74

In [134]:
def cek_nilai(daftar_nilai):
    result = []
    
    for pelajaran, data_nama in daftar_nilai.items():
        nama = list(data_nama.keys())
        tertinggi = nama[0]

        for i in range(1, len(nama)):
            if int(data_nama[tertinggi]) < int(data_nama[nama[i]]):
                tertinggi = nama[i]

        result.append(f"Nilai tertinggi untuk mata pelajaran {pelajaran} diraih oleh {tertinggi}")
    return result

In [136]:
for i in cek_nilai(daftar_nilai):
    print(i)

Nilai tertinggi untuk mata pelajaran Matematika diraih oleh Einstein
Nilai tertinggi untuk mata pelajaran Fisika diraih oleh Einstein
Nilai tertinggi untuk mata pelajaran Bahasa Indonesia diraih oleh Cinta
Nilai tertinggi untuk mata pelajaran Geografi diraih oleh Elisa
Nilai tertinggi untuk mata pelajaran Sejarah diraih oleh Elisa

## 19

In [145]:
def seimbang(expr):
    if expr == "":
        return True
    if expr[0] == "(" or expr[-1] == ")":
        return seimbang(expr[1:-1])
    for i in range(1,len(expr)):
        return (seimbang(expr[:i]) and seimbang(expr[i:]))
    
# nootice dia blm ada mekanisme utk bilang false

In [163]:
def seimbang(expr):
    if expr == "":
        return True
    
    hasil = False

    if expr[0] == "(" and expr[-1] == ")":
        hasil = hasil or seimbang(expr[1:-1])

    for i in range(1, len(expr)):
        hasil = hasil or (seimbang(expr[:i]) and seimbang(expr[i:]))
    
    return hasil

# jd ini tuh seimbang somehow kanan kirinya harus sama kan, harus in/close paran
# nah, yg expression pertama, dia pake or karena hasil remain false, recursive
# call nya bakal ngecek kalo di tengah tengahnya itu seimbang g. knp tengah2ny aja
# karena depan belakangnya udah seimbang

# expr 2, dia ngecek all possible sides gt. misal "()()"
# For i = 1, it checks the balance of "()" and ")".
# For i = 2, it checks the balance of "()(" and ")".
# For i = 3, it checks the balance of "()()" and "".
# ternyata balance pa i =3. makanya dia pake or buat accumulate seengganya
# ditemukan balance gk kalo split nya aneh aneh

In [164]:
seimbang( "(())" )

True

In [165]:
seimbang( "()()" )

True

In [166]:
seimbang( ")("  )

False

## 20

In [ ]:
class Animal:
    # birthdate menggunakan struktur tuple dengan format ("dd", "mm", "yyyy"),
    # contohnya ("05", "12", "2020")
    # sedangkan colors menggunakan struktur list
    def __init__(self, name, birthdate, diet, colors):
        self.name = name
        self.birthdate = birthdate
        self.diet = diet
        self.colors = colors

    def eats(self):
        print(self.name, "is eating...")

    # task: lengkapi method birthmonth
    def birthmonth(self):
        return self.birthdate[1] # kan tuple dd mm yyyy

    # task: lengkapi method di bawah ini
    def __str__(self): # kalo nama method blank, pasti special method
        return f"{self.name} born in month {self.birthmonth()} is {self.diet}"

class Tiger(Animal):
    def __init__(self, name, birthdate):
        super().__init__(name, birthdate, "Carnivore", ["Yellow", "Black"])

    # task: lengkapi method di bawah ini (yang melakukan overriding)
    def eats(self):
        print("Yummy!")

class Camel(Animal):
    # task: lengkapi method __init__
    # perhatikan bahwa unta tergolong ke herbivore
    # serta warnanya cokelat
    def __init__(self, name, birthdate):
        super().__init__(name, birthdate, "Herbivore", ["Brown"])

class Zebra(Animal):
    pass # minimal mungkin di sini adalah polymorphysm karena
# dia ngikutin apa adanya dari class parentnya

## 21

pusing

In [2]:
network = {
"Safira": {"Affan", "Kadek", "Mutia", "Nurmala"},
"Affan": {"Safira", "Ridwan", "Mutia", "Ilham"},
"Kadek": {"Safira", "Usep", "Mutia", "Gio"},
"Mutia": {"Safira", "Affan", "Nurmala", "Dewi"}
}

In [3]:
def friends_of_friends(network, person):
    # Check if the person is in the network
    if person not in network:
        return set()  # If the person is not in the network, return an empty set
    
    friends_set = network[person]  # Get the set of friends for the given person
    friends_of_friends_set = set()  # Initialize an empty set for friends-of-friends
    
    # Iterate through each friend of the person
    for friend in friends_set:
        # Check if the friend is in the network
        if friend in network:
            # Add friends of the friend to the friends-of-friends set
            friends_of_friends_set.update(network[friend])
    
    # Remove the original person from the set
    friends_of_friends_set.discard(person)
    
    return friends_of_friends_set

# Example usage:
network = {
    "Safira": {"Affan", "Kadek", "Mutia", "Nurmala"},
    "Affan": {"Safira", "Ridwan", "Mutia", "Ilham"},
    "Kadek": {"Safira", "Usep", "Mutia", "Gio"},
    "Mutia": {"Safira", "Affan", "Nurmala", "Dewi"}
}

result = friends_of_friends(network, "Safira")
print(result)
# Output: {'Ridwan', 'Mutia', 'Ilham', 'Usep', 'Gio', 'Affan', 'Nurmala', 'Dewi'}

result = friends_of_friends(network, "Ilham")
print(result)
# Output: set()

{'Mutia', 'Usep', 'Dewi', 'Nurmala', 'Ridwan', 'Affan', 'Ilham', 'Gio'}
set()