1

In [4]:
y=10

def f1(x):
    global y
    y = y ** x
def f2(l):
    for i in range(len(l)):
        l[i] = y**l[i]
def f3(l):
    for val in l:
        val *= y

In [5]:
x1 =2 
f1(x1)
print(y)

100

In [6]:
l1=[1,2,0]
f2(l1)
print(l1)

[100, 10000, 1]

In [11]:
l2 =[1,2,0]
f3(l2)
print(l2)

[1, 2, 0]

## 2

In [12]:
x = {i*j for i in range(2,15) for j in range(2,15)}

In [13]:
print(x)

{130, 4, 132, 6, 8, 9, 10, 12, 140, 14, 15, 16, 143, 18, 144, 20, 21, 22, 24, 25, 26, 27, 28, 154, 30, 156, 32, 33, 35, 36, 39, 40, 168, 42, 169, 44, 45, 48, 49, 50, 52, 54, 55, 56, 182, 60, 63, 64, 65, 66, 196, 70, 72, 77, 78, 80, 81, 84, 88, 90, 91, 96, 98, 99, 100, 104, 108, 110, 112, 117, 120, 121, 126}

In [15]:
for i in range(2,15):
    for j in range(2,15):
        u = i*j
        print(u)

4
6
8
10
12
14
16
18
20
22
24
26
28
6
9
12
15
18
21
24
27
30
33
36
39
42
8
12
16
20
24
28
32
36
40
44
48
52
56
10
15
20
25
30
35
40
45
50
55
60
65
70
12
18
24
30
36
42
48
54
60
66
72
78
84
14
21
28
35
42
49
56
63
70
77
84
91
98
16
24
32
40
48
56
64
72
80
88
96
104
112
18
27
36
45
54
63
72
81
90
99
108
117
126
20
30
40
50
60
70
80
90
100
110
120
130
140
22
33
44
55
66
77
88
99
110
121
132
143
154
24
36
48
60
72
84
96
108
120
132
144
156
168
26
39
52
65
78
91
104
117
130
143
156
169
182
28
42
56
70
84
98
112
126
140
154
168
182
196

TypeError: object of type 'int' has no len()

## 3

lst = [str(i) + str(j) for i in range(4) for j in range(5,3,-1)]

In [18]:
print(lst)

['05', '04', '15', '14', '25', '24', '35', '34']

##### 5

In [21]:
def sq(lst, val = 0):
    for i in lst:
        if isinstance(i, int):
            val += (i)**2 
    return val

In [22]:
sq([7,7.5, -5, 'abc', 1])

75

## 6

In [23]:
def f(x,y):
    cnt = 0
    for s in y:
        if set(x).issubset(set(s)):
            cnt += 1
    return cnt

SyntaxError: expected ':' (1157560000.py, line 4)

## 7

In [24]:
def distribution(filename):
    infile = open(filename)
    content = infile.read() #fill
    infile.close()
    
    grades = content.split()
    
    # for every grade print the number of times it occurs if any
    for grade in ['A', 'B', 'C', 'D', 'E']:
        num = grades.count(grade)
        if num >0:
            print('{}students got {}'.format(num,grade))

## 8

In [35]:
def gambarNSegitiga(M, N):
    blank = M
    for i in range(M):
        str = '*' * (i+1) + " " * blank
        print(str*N)
        blank -= 1

In [36]:
gambarNSegitiga(7,3)

*       *       *
**      **      **
***     ***     ***
****    ****    ****
*****   *****   *****
******  ******  ******
******* ******* *******

## 9

misal gue piton

test1 = A(), y=0
    self x = 0
    attr x = 1

test2 = A(5), y =5
    self x = 5
    attr x = 1
    
test1.x = 1
test2.x = 1

test2.fun(2)-- 2*5=10

test3 = b(5)
    inherit paretnnya yg attrnya 0
    test3.fun2 = 0*2 = 0

print(A.x) = 1/0? 1 kayanya

In [37]:
class A:
    x = 0
    def __init__(self, y = 0):
        self.x = y
        A.x += 1
    def fun(self, a):
        return a*self.x
class B(A):
    def fun(self, a):
        return A.x*a

In [38]:
test1=A()
test2=A(5)

print(test1.x) # refer ke self
print(test2.x) # refer ke self
print(test2.fun(2))
test3 = B(5)
print(test3.fun(2))
print(A.x)

0
5
10
6
3

oh, jadi setiap diinstantiate, attrnya kan increment by 1. makanya bisa dapet 6 simply karena di isntantiate 3 kali, trs param si fun 2

## 10

In [39]:
class Struk:
    def __init__(self, rincian):
        self.rincian = rincian

    def __str__(self):
        return str(self.rincian)

    def __add__(self, struk2):  #1
        hasil = {}  #2
        for barang in struk2.rincian:
            if barang in hasil:
                hasil[barang] += struk2.rincian[barang]  #3
            else:
                hasil[barang] = struk2.rincian[barang]  #4
        return Struk(hasil)  #5

struk_1 = Struk({"sabun": 2000, "sikat gigi": 6000, "deterjen": 2000, "shampoo": 5000})
struk_2 = Struk({"sabun": 5000, "sikat gigi": 12000, "pewangi": 2500})

print("Struk 1 =", struk_1)
print("Struk 2 =", struk_2)

hasil = struk_1 + struk_2
print("Struk 1 + Struk 2 =", hasil)

Struk 1 = {'sabun': 2000, 'sikat gigi': 6000, 'deterjen': 2000, 'shampoo': 5000}
Struk 2 = {'sabun': 5000, 'sikat gigi': 12000, 'pewangi': 2500}
Struk 1 + Struk 2 = {'sabun': 5000, 'sikat gigi': 12000, 'pewangi': 2500}

# 11

In [45]:
def power_of_three(n):
    num = 1
    for i in range(n):
        yield num
        num *=3

In [46]:
nums = power_of_three(6)
print(next(nums))

1

In [47]:
print(next(nums))

3

In [48]:
print(next(nums))

9

In [50]:
# mintanya infinite
def power_of_three():
    num = 1
    while True:
        yield num
        num *=3

## 12

In [51]:
from functools import reduce

lst = [5, 32, 98, 883, 101, 50]
m=list(map(lambda x:x*3, lst))

In [52]:
m

[15, 96, 294, 2649, 303, 150]

In [59]:
f = list(filter(lambda x: x%2 == 0, m))

In [60]:
f

[96, 294, 150]

In [63]:
result = reduce(lambda x, y: x+y, f)

In [64]:
print(result)

540

# 13

In [65]:
def f(*w,**z):
    if len(w) == 0:
        return None
    return lambda x,y: x*y*max(w) + len(z)

In [67]:
print(f(5,2,1,a=5,b=2)(3,4))

62

In [68]:
print(f(2) (2,7))

28