## 1

In [1]:
x = {1,2,3,4,5}
y = {4,5,6,7,8}

In [2]:
x|y

{1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
x.union(y)

{1, 2, 3, 4, 5, 6, 7, 8}

## 2

In [42]:
with open ('ddp1.txt', 'rb') as x:
    x.seek(5) # got to the 5th byte
    print(x.read(4).decode('utf-8')) # start to read sebanyak 4 byte, output: asik
    x.seek(11) # sampai di ujung /n 
    print(x.read(4).decode('utf-8')) # baca 4 byte, ddp2
    print(x.tell()) # check the current cursor position

11

## 3

In [17]:
nums = [1,2,3,4,5,6,7,8,9,10]
even_nums = list(filter(lambda x: x % 2 == 0, nums))

print(even_nums)

[2, 4, 6, 8, 10]

## 4

In [18]:
class Gadget:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
    
    def display_info(self):
        return f'{self.brand} {self.model}'
    
    def use(self):
        return None
    
class Phone(Gadget):
    def __init__(self, brand, model, operating_system):
        super().__init__(brand, model)
        self.operating_system = operating_system
    
    def use(self):
        return f'Making a call with {self.brand} {self.model} running {self.operating_system}'

def use_gadget(gadget):
    return gadget.use()

iphone = Phone('Apple', 'iPhone 13', 'iOS')
print(use_gadget(iphone))

Making a call with Apple iPhone 13 running iOS

## 5

misal gue piton

(3,2)
    (2, 3)
        (1, 5)
            (0, 9)
                9

## 6

In [22]:
def mystery():
    num= 1
    
    while True:
        yield num
        num*=5
        
generator=mystery()
print(next(generator)) # output 1
print(next(generator)) # output 5
print(next(generator))
print(next(generator))

1
5
25
125

## 7

In [24]:
myDict = {
    'emp1': {'name': 'John', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500},
}

In [25]:
myDict['emp2']['salary'] = 7000

In [26]:
print(myDict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 7000}, 'emp3': {'name': 'Brad', 'salary': 6500}}

In [27]:
myDict['emp3']['name']='Brader'

In [28]:
print(myDict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 7000}, 'emp3': {'name': 'Brader', 'salary': 6500}}

## 8

In [33]:
class InventarisManajer:
    def __init(self):
        self.inventaris = {}
        
    def tambah_produk(self,kode_produk, nama_produk, harga_unit, kuantitas):
        self.inventaris[kode_produk] = {'nama': nama_produk,
                                       'harga_unit': harga_unit,
                                       'kuantitas': kuantitas}
    def hitung_total_value(info_produk):
        total_value = 0
        for kode_produk, data in info_produk.items():
            harga_unit = info_produk[harga_unit]
            kuantitas = info_produk[kuantitas]
            total_value += harga_unit*kuantitas
        return total_value

manajer = InventarisManajer()
manajer.tambah_produk('p1', 'laptop', 1000, 100)
manajer.tambah_produk('p2', 'phone', 800, 10)
manajer.tambah_produk('p3', 'headphone', 50, 20)
        
total_value = hitung_total_value(manajer.inventaris)
print(total_value)

AttributeError: 'InventarisManajer' object has no attribute 'inventaris'

makanya soalnya gaje..

## 9

In [ ]:
import unittest

class TestEmployeeClasses(unittest.TestCase):
    def test_employee(self):
        employee = Employee('adel3005', 'Adelya', 30000000)
        self.assertEqual(display_info(), 'Employee adel3005: Adelya, Salary: $30000000')
        self.assertEqual(calculate_bonus(), 0)
    
    def test_manager(self):
        manager = Manager('Software Engineer')
        self.assertEqual(display_info(), 'Employee adel3005: Adelya, Salary: $30000000, Department: Software Engineer')
        self.assertEqual(calculate_bonus(), 3000000)
        ## calculate_bonus() manager

## 10

In [43]:
from tkinter import *

class MyFirstGUI:
    def __init__(self, master):
        self.master = master
        master.title('MyGUI')
        master.geometry('210x50')
        self.yes_button = Button(master, text = 'Yes')
        self.no_button = Button(master, text = 'No')
        self.yes_button.pack(fill = X)
        self.no_button.pack(fill = X)
        
root = Tk()
my_gui=MyFirstGUI(root)
root.mainloop()